body {
    background: #374765;
    font-family: Arimo, sans-serif;
}

.table-size {
    width: 1140px;
    margin: 20px auto 30px;
}

.table-size table,th,td{
    color: #484848;
    text-align: center;
    text-transform: uppercase;
}

tr {
    height: 166px;
}

tr:first-of-type {
    height: 110px;
}

tr:last-of-type {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0);
}

td{
    width: 157px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.27);
}

td:first-of-type {
    width: 198px;
}

td:nth-of-type(2n) {
    background-color: #e3e3e3;
}

.text-pricing-plan {
    font-size: 20px;
}

.left-top {
    font-size: 14px;
    font-weight: 700;
    padding: 37px 0;
    background-color: #fafafa;
}

.price-head {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.standart {
    border: 0;
    background: #89c331;
}

.ultimate {
    border: 0;
    background: #f04a56;
}

.premium {
    border: 0;
    background: #20807c;

}

.price-text {
    margin-bottom: 20px;
}

.price-dollars {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

.price-cents {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
}

.price-cents:after {
    content: 'per month';
    font-size: 14px;
    font-weight: 700;
    position: relative;
    bottom: -5px;
}

.buy-button {
    width: 142px;
    height: 40px;
    border: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #343434;
    border-radius: 5px;
    background-color: #414141;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.prop-text {
    color: #484848;
    font-size: 16px;
}

.storage:before {
    content: '\f187';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 24px;
    display: block;
    color: #848484;
    margin-bottom: 8px;
}

.bandwidth:before {
    content: '\f382';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.email:before {
    content: '\f0e0';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.support:before {
    content: '\f1cd';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.products:before {
    content: '\f1b2';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.users:before {
    content: '\f0c0';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}