body {
    background: #374765;
    font-family: Arimo, sans-serif;
}

.table-size {
    margin: 24px auto 32px;
    background: #fafafa;
}

.table-size table,th,td{
    color: #484848;
    text-align: center;
    text-transform: uppercase;
}

tr:nth-child(n) {
    width: 309px;
}

td{
    width: 275px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    box-shadow: 2px 0 2px 0 #dadada;
}

td:last-of-type {
    border: 0;
    box-shadow: none;
}

.text-pricing-plan {
    font-size: 30px;
}

.left-top {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0;
}

.price-head {
    height: 70px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.standart {
    border: 0;
    background: #89c331;
}

.ultimate {
    border: 0;
    background: #f04a56;
}

.premium {
    border: 0;
    background: #20807c;

}

.price-dollars {
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
}

.price-dollars:before {
    content:'$';
    position: relative;
    left: 15px;
}

.price-cents {
    position: relative;
    top: 5px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    text-align: left;

}

.price-cents:after {
    content: 'per month';
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

.offer-props {
    height: 67px;
    background-color: #f2f2f2;
}

.offer-props:nth-of-type(2n){
    background-color: #e3e3e3;
}

.contacts {
    background-color: #dedede;
}

.prop-text {
    color: #484848;
    font-size: 16px;
}

.storage:before {
    content: '\f187';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 24px;
    color: #848484;
    margin-right: 10px;
}

.bandwidth:before {
    content: '\f382';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    margin-right: 10px;
}

.email:before {
    content: '\f0e0';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-size: 24px;
    margin-right: 10px;
}

.support:before {
    content: '\f1cd';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-size: 24px;
    margin-right: 10px;
}

.products:before {
    content: '\f1b2';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    margin-right: 10px;
}

.users:before {
    content: '\f0c0';
    font-family: Font Awesome\ 5 Free;
    color: #848484;
    font-weight: 900;
    font-size: 24px;
    margin-right: 10px;
}

.buy-button {
    width: 190px;
    height: 47px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.contact-us {
    border-top: 6px solid transparent;
    background-color: #484848;
    border-bottom: #404040 solid 6px;
}

.btn-std {
    border-top: 6px solid transparent;
    background: #89c331;
    border-bottom: #7ab122 solid 6px;
}

.btn-ultimate {
    border-top: 6px solid transparent;
    background: #f04a56;
    border-bottom: #e03744 solid 6px;
}

.btn-premium {
    border-top: 6px solid transparent;
    background: #20807c;
    border-bottom: #16736f solid 6px;
}
